
.primary-info-section {
    margin: 1rem;
    gap: 3rem;
}
.primary-info-btn{
    font-size: 2.4rem;
    margin: 1rem;
}
.primary-info-title{
    width: 70rem;
}
.primary-info-text{
    margin-left: 1rem;
}
