.chip-container {
    background-color: var(--v2-bg-color);
    padding: 1.4rem 2.2rem;
    overflow-x: auto;
    white-space: nowrap;
    border-top: 1px solid var(--text-color);
    gap: 1rem;
    position: sticky;
    top: 7.85rem;
    z-index: 1;
}

.chip {
    background-color: var(--v1-bg-color);
    cursor: pointer;
    border-radius: 1.4rem;
    padding: 0.6rem 1.8rem;
    width: fit-content;
    font-size: 1.2rem;
}
.active-chip {
  background-color: var(--sec-text-color);
  color: black;
}
::-webkit-scrollbar {
  height: 0.6rem;
}

::-webkit-scrollbar-thumb {
  background: var(--text-color);
  border-radius: 1rem;
} 
